@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	width: 100%;
}

@layer utilities {
	.white-glass {
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.black-glass {
		background: rgb(255, 255, 255);
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.1) 100%);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.scrollbar {
	}

	.scrollbar::-webkit-scrollbar {
		width: 3px;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		width: 2px;
		background-color: #7b7d83;
	}

	.scrollbar::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 0.5) 50%;
	}

	.unit-selected {
		background: #59a3d1;
		color: #dfe6ee;
	}

	.settingOpen {
		transform: scale(0.85) translateY(7%);
		opacity: 0.5;
	}
	.menuShow {
	}
}
